language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
before_script:
  - cp setup/secret.py.txt setup/secret.py
script:
  - python main.py test
  - flake8 --config=.flake8 .
